In [2]:
import numpy as np
import pandas as pd

In [6]:
log2 = pd.read_csv('db/training_log_part2.csv')
log2

             id   log_date  runr_id  effort_num  feel_num
0       1000001  8/12/2015   100146           3         3
1       1000002  8/13/2015   100146           3         3
2       1000003  8/14/2015   100146           3         3
3       1000004  8/15/2015   100146           3         3
4       1000005  8/17/2015   100146           3         3
5       1000006  8/18/2015   100146           3         3
6       1000007  8/19/2015   100146           3         3
7       1000008  8/20/2015   100146           3         3
8       1000009  8/21/2015   100146           3         3
9       1000010  8/22/2015   100146           3         3
10      1000011  8/24/2015   100146           3         3
11      1000012  8/29/2015   100146           3         3
12      1000013  8/25/2015   100146           3         3
13      1000014  8/26/2015   100146           3         3
14      1000015  8/28/2015   100146           3         3
15      1000016  8/27/2015   100146           3         3
16      1000017  8/31/2015   100146           3         3
17      1000018   9/1/2015   100146           3         3
18      1000019   9/2/2015   100146           3         3
19      1000020   9/3/2015   100146           3         3
20      1000021   9/7/2015   100146           3         3
21      1000022   9/8/2015   100146           3         3
22      1000023   9/9/2015   100146           3         3
23      1000024   9/5/2015   100146           3         3
24      1000025   9/4/2015   100146           3         3
25      1000026   9/6/2015   100146           3         3
26      1000027  8/30/2015   100146           3         3
27      1000028  8/23/2015   100146           3         3
28      1000029  8/16/2015   100146           3         3
29      1000030  9/11/2015   100146           3         3
...         ...        ...      ...         ...       ...
919879  1919880  8/24/2019   232933           4         3
919880  1919881  8/27/2019   232935           2         3
919881  1919882  8/28/2019   232935           5         3
919882  1919883  8/26/2019   232936           4         4
919883  1919884  8/28/2019   232936           3         3
919884  1919885  8/27/2019   232936           4         2
919885  1919886  8/26/2019   232937           4         4
919886  1919887  8/27/2019   232937           4         5
919887  1919888  8/23/2019   232937           4         5
919888  1919889  8/22/2019   232937           3         4
919889  1919890  8/21/2019   232937           3         4
919890  1919891  8/28/2019   232937           3         2
919891  1919892  8/27/2019   232938           3         3
919892  1919893  8/26/2019   232938           4         4
919893  1919894  8/28/2019   232938           4         3
919894  1919895  8/27/2019   232939           4         4
919895  1919896  8/28/2019   232950           4         3
919896  1919897  8/28/2019   232955           3         4
919897  1919898  8/21/2019   232957           3         3
919898  1919899  8/29/2019   232967           3         3
919899  1919900  8/28/2019   232972           3         3
919900  1919901  8/27/2019   232972           4         5
919901  1919902  8/27/2019   232972           2         3
919902  1919903  8/28/2019   232972           3         3
919903  1919904  8/26/2019   232986           4         2
919904  1919905  8/27/2019   232986           3         4
919905  1919906  8/28/2019   232986           4         5
919906  1919907  8/28/2019   232987           3         3
919907  1919908  8/28/2019   231983           3         3
919908  1919909  8/29/2019   233014           3         5

[919909 rows x 5 columns]

In [7]:
log1 = pd.read_csv('db/training_log_part1.csv')
log1

             id    log_date  runr_id  effort_num  feel_num
0             1    6/5/2011     3701           3         3
1             2    6/8/2011     3701           3         5
2             3    6/9/2011     3701           1         4
3             4   6/13/2011     3701           3         5
4             5   6/14/2011     3701           3         3
5             6   6/15/2011     3701           3         4
6             7   6/16/2011     3701           3         5
7             8   6/17/2011     3701           3         5
8             9   6/18/2011     3701           3         2
9            10    1/3/2011     3722           2         2
10           11    1/1/2011     3722           3         3
11           12   1/29/2011     3722           3         5
12           13   1/28/2011     3722           2         4
13           14   1/26/2011     3722           4         3
14           15   1/25/2011     3722           3         3
15           16   1/24/2011     3722           3         3
16           17   1/22/2011     3722           2         4
17           18   1/20/2011     3722           3         3
18           19   1/18/2011     3722           3         3
19           20    2/6/2011     3722           3         3
20           21    2/5/2011     3722           3         4
21           22    2/2/2011     3722           3         3
22           23    2/8/2011     3722           3         3
23           24    2/7/2011     3722           3         4
24           25    6/4/2011     3050           3         3
25           26    6/5/2011     3050           3         3
26           27    6/6/2011     3050           3         3
27           28    6/7/2011     3050           3         3
28           29    6/8/2011     3050           3         1
29           30   7/11/2011     3050           2         3
...         ...         ...      ...         ...       ...
999970   999971   9/10/2018    95324           3         3
999971   999972   9/11/2018    95324           3         3
999972   999973   9/12/2018    95324           3         4
999973   999974   9/13/2018    95324           3         4
999974   999975   9/15/2018    95324           3         3
999975   999976   9/16/2018    95324           3         3
999976   999977   9/17/2018    95324           3         4
999977   999978  10/11/2018    95324           3         3
999978   999979  10/22/2018    95324           3         3
999979   999980  10/20/2018    95324           3         3
999980   999981    7/4/2015   100146           4         2
999981   999982    7/9/2015   100146           3         4
999982   999983   7/10/2015   100146           3         3
999983   999984   7/12/2015   100146           3         3
999984   999985   7/13/2015   100146           3         4
999985   999986   7/16/2015   100146           3         2
999986   999987   7/20/2015   100146           3         3
999987   999988   7/21/2015   100146           3         2
999988   999989   7/23/2015   100146           4         3
999989   999990   7/24/2015   100146           4         3
999990   999991   7/26/2015   100146           4         3
999991   999992   7/28/2015   100146           4         3
999992   999993   7/29/2015   100146           4         3
999993   999994   7/31/2015   100146           3         3
999994   999995    8/3/2015   100146           3         3
999995   999996    8/2/2015   100146           3         3
999996   999997    8/6/2015   100146           3         3
999997   999998    8/7/2015   100146           3         3
999998   999999   8/10/2015   100146           3         3
999999  1000000   8/11/2015   100146           3         3

[1000000 rows x 5 columns]

In [9]:
log = pd.concat([log1,log2])
log

             id   log_date  runr_id  effort_num  feel_num
0             1   6/5/2011     3701           3         3
1             2   6/8/2011     3701           3         5
2             3   6/9/2011     3701           1         4
3             4  6/13/2011     3701           3         5
4             5  6/14/2011     3701           3         3
5             6  6/15/2011     3701           3         4
6             7  6/16/2011     3701           3         5
7             8  6/17/2011     3701           3         5
8             9  6/18/2011     3701           3         2
9            10   1/3/2011     3722           2         2
10           11   1/1/2011     3722           3         3
11           12  1/29/2011     3722           3         5
12           13  1/28/2011     3722           2         4
13           14  1/26/2011     3722           4         3
14           15  1/25/2011     3722           3         3
15           16  1/24/2011     3722           3         3
16           17  1/22/2011     3722           2         4
17           18  1/20/2011     3722           3         3
18           19  1/18/2011     3722           3         3
19           20   2/6/2011     3722           3         3
20           21   2/5/2011     3722           3         4
21           22   2/2/2011     3722           3         3
22           23   2/8/2011     3722           3         3
23           24   2/7/2011     3722           3         4
24           25   6/4/2011     3050           3         3
25           26   6/5/2011     3050           3         3
26           27   6/6/2011     3050           3         3
27           28   6/7/2011     3050           3         3
28           29   6/8/2011     3050           3         1
29           30  7/11/2011     3050           2         3
...         ...        ...      ...         ...       ...
919879  1919880  8/24/2019   232933           4         3
919880  1919881  8/27/2019   232935           2         3
919881  1919882  8/28/2019   232935           5         3
919882  1919883  8/26/2019   232936           4         4
919883  1919884  8/28/2019   232936           3         3
919884  1919885  8/27/2019   232936           4         2
919885  1919886  8/26/2019   232937           4         4
919886  1919887  8/27/2019   232937           4         5
919887  1919888  8/23/2019   232937           4         5
919888  1919889  8/22/2019   232937           3         4
919889  1919890  8/21/2019   232937           3         4
919890  1919891  8/28/2019   232937           3         2
919891  1919892  8/27/2019   232938           3         3
919892  1919893  8/26/2019   232938           4         4
919893  1919894  8/28/2019   232938           4         3
919894  1919895  8/27/2019   232939           4         4
919895  1919896  8/28/2019   232950           4         3
919896  1919897  8/28/2019   232955           3         4
919897  1919898  8/21/2019   232957           3         3
919898  1919899  8/29/2019   232967           3         3
919899  1919900  8/28/2019   232972           3         3
919900  1919901  8/27/2019   232972           4         5
919901  1919902  8/27/2019   232972           2         3
919902  1919903  8/28/2019   232972           3         3
919903  1919904  8/26/2019   232986           4         2
919904  1919905  8/27/2019   232986           3         4
919905  1919906  8/28/2019   232986           4         5
919906  1919907  8/28/2019   232987           3         3
919907  1919908  8/28/2019   231983           3         3
919908  1919909  8/29/2019   233014           3         5

[1919909 rows x 5 columns]

In [11]:
# Add month and year from meet_date
def get_month(x):
    return int(str(x).split('/')[0])
log['month'] = log['log_date'].apply(get_month)

def get_year(x):
    return int(str(x).split('/')[2])
log['year'] = log['log_date'].apply(get_year)

log.tail()

             id   log_date  runr_id  effort_num  feel_num  month  year
919904  1919905  8/27/2019   232986           3         4      8  2019
919905  1919906  8/28/2019   232986           4         5      8  2019
919906  1919907  8/28/2019   232987           3         3      8  2019
919907  1919908  8/28/2019   231983           3         3      8  2019
919908  1919909  8/29/2019   233014           3         5      8  2019

In [14]:
log_2015_to_2018 = log.loc[(log['year'] > 2014) & (log['year'] < 2019)]
log_2015_to_2018

             id    log_date  runr_id  effort_num  feel_num  month  year
100         101    6/1/2015     3186           2         3      6  2015
101         102   9/30/2016     3186           3         3      9  2016
13163     13164    9/3/2016     9970           2         4      9  2016
13164     13165   8/21/2017     9970           4         3      8  2017
13165     13166    9/1/2017     9970           2         4      9  2017
13166     13167   6/11/2018     9970           2         5      6  2018
13167     13168   6/12/2018     9970           4         5      6  2018
14470     14471    8/8/2018     8368           3         3      8  2018
14471     14472    8/9/2018     8368           3         4      8  2018
14472     14473   8/10/2018     8368           3         4      8  2018
14473     14474   8/11/2018     8368           3         3      8  2018
14474     14475   8/14/2018     8368           3         2      8  2018
14475     14476    8/2/2018     8368           2         2      8  2018
14476     14477    8/3/2018     8368           3         3      8  2018
14477     14478    8/4/2018     8368           3         4      8  2018
15994     15995   1/21/2015     7404           2         4      1  2015
15995     15996   1/22/2015     7404           2         3      1  2015
15996     15997   1/22/2015     7404           2         3      1  2015
15997     15998   1/23/2015     7404           2         3      1  2015
15998     15999   1/26/2015     7404           2         4      1  2015
15999     16000   1/24/2015     7404           3         2      1  2015
16000     16001   1/29/2015     7404           4         4      1  2015
16001     16002   1/29/2015     7404           2         3      1  2015
16002     16003   1/31/2015     7404           3         3      1  2015
16003     16004   1/30/2015     7404           2         4      1  2015
16004     16005    2/2/2015     7404           4         2      2  2015
16005     16006    2/2/2015     7404           2         3      2  2015
16006     16007    2/3/2015     7404           2         4      2  2015
16007     16008    2/4/2015     7404           4         3      2  2015
16008     16009    2/4/2015     7404           2         4      2  2015
...         ...         ...      ...         ...       ...    ...   ...
880220  1880221  12/10/2018   220570           5         5     12  2018
880221  1880222  12/11/2018   220570           3         4     12  2018
880222  1880223  12/11/2018   220570           2         5     12  2018
880223  1880224  12/12/2018   220570           3         3     12  2018
880224  1880225  12/12/2018   220570           3         3     12  2018
880225  1880226  12/13/2018   220570           3         5     12  2018
880226  1880227  12/13/2018   220570           2         5     12  2018
880227  1880228  12/14/2018   220570           3         3     12  2018
880228  1880229  12/15/2018   220570           3         4     12  2018
880229  1880230  12/16/2018   220570           2         4     12  2018
880230  1880231  12/17/2018   220570           3         3     12  2018
880231  1880232  12/17/2018   220570           3         3     12  2018
880232  1880233  12/18/2018   220570           3         3     12  2018
880233  1880234  12/18/2018   220570           3         4     12  2018
880234  1880235  12/19/2018   220570           3         3     12  2018
880235  1880236  12/19/2018   220570           3         2     12  2018
880236  1880237  12/20/2018   220570           3         3     12  2018
880237  1880238  12/20/2018   220570           4         4     12  2018
880238  1880239  12/21/2018   220570           3         3     12  2018
880239  1880240  12/22/2018   220570           3         3     12  2018
880240  1880241  12/23/2018   220570           3         3     12  2018
880241  1880242  12/24/2018   220570           3         3     12  2018
880242  1880243  12/25/2018   220570           3         3     12  2018
880243  1880244  12/26/2018   220570           3         3     12  2018
880244  1880245  12/27/2018   220570           3         3     12  2018
880245  1880246  12/27/2018   220570           3         3     12  2018
880246  1880247  12/28/2018   220570           3         3     12  2018
880247  1880248  12/29/2018   220570           3         3     12  2018
880248  1880249  12/30/2018   220570           3         1     12  2018
880249  1880250  12/31/2018   220570           3         3     12  2018

[1278095 rows x 7 columns]

In [16]:
log_2015_to_2018.to_csv('db/log_2015_to_2018.csv')